nav {
    display: flex;
    flex-direction: column;
    background-image: url('IMAGES/Orrintorinco/imagem\ epica.jpg');
    
    
}

a {
    font-size: 18px;

}

body {

    background-image: url("backgroud-australia.jpg");
    
}
